#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #FF6363;
}

.badge-success {
    background-color: #FF6363;
}
